.header {
  height: 80px;
  padding: 0 40px;
}

.logo {
  width: 168px;
  height: 32px;
}

.link{
  color: #000;
  text-decoration: none;
}

.containerHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99999;
}